*{
	padding: 0;
	margin: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0600F8
}
header.cabeceraPrincipal, nav.menuPrincipal, section.galeria{
	background-color: rgb(148, 250, 46);
	color: rgb(47, 83, 10);
	width: 90%;
	margin: 0 auto;

}
header.cabeceraPrincipal h1{
	padding: 1em;
	width: 20%;
	display: inline-block;
}

section.seccionCabecera{
	width: 70%;
	display: inline-block;
	text-align: right;
}
nav.menuPrincipal{
	margin-top: 2px; 
}
nav.menuPrincipal div{
	padding: 1em;
	text-align: center;
}
section.galeria{
	margin-top: 2px;
	height: 450px;
	text-align: center;
	background-color: #C6C6C6

}
section.galeria h2{
	padding: 5em;
}
main.noticia {
    text-align: center;
    display: inline-flexboxin;
    height: 300px;
    width: 90%;
    padding: 20px;
    margin: 4px;
    margin-top: 2px;
    margin-left: 50px;
}
section.noticias1{
	
   	height: 300px;
    width: 49%;
    background-color: #B9B4F6;
    text-align: left;
    float: left;
    margin: 0 auto;
}
section.noticias2{

   	height: 300px;
    width: 50%;
    background-color: #B9B4F6;
    float: right;
    margin-left: 70px;
    margin: 0 auto;
    text-align: left;
    
}


section.sponsor {
    margin: 0 auto;
    margin-top: 2px;
    height: 50px;
    width: 40%;
    text-align: center;
    background-color: rgb(210, 233, 233);
    color: cadetblue;
    display: inline-block;
    margin-left: 63px;
}

footer.piedepagina {
 margin: 0 auto;
    margin-top: 2px;
    height: 100px;
    width: 90%;
    text-align: center;
    background-color: rgb(210, 233, 233);
    display: inline-block;
    margin-left: 63px;
}